extends layout

block content
    section.homeheader
      .grid
        a.homeheader__logoxl(href='/')
        h1 Eerste hulp bij design & development hoofdpijn. Kweeni hoe handig.
        a.homeheader__inloggen(href='/facebook')

      .homeheader__userpictures
        #key1.userpicture(src=picture.picture)
        #key2.userpicture(src=picture.picture)
        #key3.userpicture(src=picture.picture)
        #key4.userpicture(src=picture.picture)
        #key5.userpicture(src=picture.picture)
        #key6.userpicture(src=picture.picture)
        #key7.userpicture(src=picture.picture)
        #key8.userpicture(src=picture.picture)
        #key9.userpicture(src=picture.picture)
        #key10.userpicture(src=picture.picture)
        #key11.userpicture(src=picture.picture)
        .filler
        .filler
        .filler
        .filler
        .filler
        .filler
        .filler
        .filler
        
    main.homemain
      article.homemain__firstarticle
        .align
          img(src='img/icon-cool.svg', alt='smiley1')
          h2 Samen slimmer
        p Iedereen kan een nieuw KWEENI-topic aanmaken en de link delen.
        p Daarna kunnen vragen gesteld worden tijdens lessen, demo’s, …
      article
        .align
          img(src='img/icon-love.svg', alt='smiley2')
          h2 Kweeni coins
        p
          | Verdien KWEENI coins door anderen te helpen. Met je KWEENI coins kan je andere bedanken die je helpen.
        p Da’s kweeni hoe handig.
      article
        .align
          img(src='img/icon-rainbow.svg', alt='smiley3')
          h2 Made by imd
        p Een project van #WeAreIMD en GoodBytes.be
