extends layout

block content
    header
      .logo
        img.logo__img(src='/img/logo.svg', alt='kweeni')
      .account
        p.account__p=user
        img.profile(src=picture, alt=picture)
        a.account__a(href='/logout') Uitloggen
    section.question
      .container
       form(action="" method="post" )
        h1.question__h1 Iets kweeni hoe moeilijk? Stel hier je vraag.
        input.question__input(type='text', placeholder='Wat is expressjs?' name="question__input")
        .question__btn
          button.question__btn--btn(type='submit') NU VRAGEN
    .container
      section.topics
        h2.topics__h2 Hot topics!
        each question, i in questionslist
          .topics__question
            .topics__question--likes
              img.topics__question--img(src='img/icon-cool.svg', alt='icon')
              span x #{question.likes} 
            a(href="/kweeni/"+question.search_name).topics__question--p #{question.text} 
            p.topics__question--author #{question.user.username}
            img.topics__question--img(src=question.user.picture, alt=question.user.username)
          hr
          
        a.topics__a(href='#') Toon 10 extra topics