extends layout

block content
    header
      .logo
        a(href='/kweeni')
          img.logo__img(src='../img/logo.svg', alt='kweenilogo')
      .account
        p.account__p Anneke Kodeur
        img.profile(src='../img/user8.png', alt='profile pic')
        a.account__a(href='/logout') Uitloggen
    main.main
      .head
        h1.head__h1 #{question.text} 
      .auteur
        p.auteur__p #{question_min}  minuten geleden gevraagd door
        img.auteur__img(src="../img/user8.png" alt="active_user")
        span.auteur__span #{question.user.name} 
      .likes
        .likes__like
          img.likes__like--img(src="../img/icon-cool.svg" alt="smiley_cool")
          p.likes__like--p x #{question.likes} 
          a.likes__like--a(href="#") like deze vraag
      .users
        img.users__pic(src="../img/user1.png")
        img.users__pic(src="../img/user2.png")
        img.users__pic(src="../img/user3.png")
        img.users__pic(src="../img/user4.png")
        img.users__pic(src="../img/user5.png")
        img.users__pic(src="../img/user6.png")
        img.users__pic(src="../img/user7.png")
        img.users__pic(src="../img/user8.png")
        img.users__pic(src="../img/user9.png")
        img.users__pic(src="../img/user10.png")
        img.users__pic(src="../img/user11.png")
        img.users__pic(src="../img/user12.png")
    .container
      section#listcomments
        each answer, i in answerlist
          article.comments.answer(data-id= i)
            p #{question.answers[i].text} 
            img.comments__pic(src="../img/user1.png" alt="user10")
            a.comments__a(href="#") #{question.answers[i].user.name} 
          .right
          each comment, j in answer.comments
            article.comments.right
              p #{question.answers[i].comments[j].text} 
              img.comments__pic.right_pic(src="../img/user8.png" alt="user8")
              a.comments__a(href="#") #{question.answers[i].comments[j].user.name} 
      .placeComment
        form.react__form(action="" method="post")
          input.react__c(type="text" name="comment" placeholder="Plaats commentaar...")
          input(type="submit" style="display:none")
      .react
        form.react__form(action="" method="post")
          img.user-avatar.test(src="../img/user8.png" alt="user")
          input.react__input(type="text" name="answer" placeholder="Reageer hier op deze vraag")
          input.react__a(type="submit" value="Reageren")


